[_scope_1665107311534_2].container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: aliceblue;
  background-image: repeating-linear-gradient(90deg, hsla(298, 16%, 68%, 0.06) 0px, hsla(298, 16%, 68%, 0.06) 1px, transparent 1px, transparent 21px, hsla(298, 16%, 68%, 0.06) 21px, hsla(298, 16%, 68%, 0.06) 22px, transparent 22px, transparent 72px), repeating-linear-gradient(0deg, hsla(298, 16%, 68%, 0.06) 0px, hsla(298, 16%, 68%, 0.06) 1px, transparent 1px, transparent 21px, hsla(298, 16%, 68%, 0.06) 21px, hsla(298, 16%, 68%, 0.06) 22px, transparent 22px, transparent 72px), repeating-linear-gradient(135deg, hsla(298, 16%, 68%, 0.06) 0px, hsla(298, 16%, 68%, 0.06) 1px, transparent 1px, transparent 21px, hsla(298, 16%, 68%, 0.06) 21px, hsla(298, 16%, 68%, 0.06) 22px, transparent 22px, transparent 72px), linear-gradient(90deg, hsl(275, 3%, 97%), hsl(275, 3%, 97%));
}
[_scope_1665107311534_2].container > [_scope_1665107311534_2].header {
  display: flex;
  align-items: flex-end;
  padding-left: 50px;
  height: 50px;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 22px;
}
[_scope_1665107311534_2].container > [_scope_1665107311534_2].content {
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
