#APP_TEST_FORM_ITEM_VIEWER[_scope_1665107311529_7] {
  width: 100%;
  padding: 0px 12px;
}
#APP_TEST_FORM_ITEM_VIEWER[_scope_1665107311529_7] [_scope_1665107311529_7].label {
  color: #deffff;
}
#APP_TEST_FORM_ITEM_VIEWER[_scope_1665107311529_7] [_scope_1665107311529_7].input,
#APP_TEST_FORM_ITEM_VIEWER[_scope_1665107311529_7] [_scope_1665107311529_7].select select[_scope_1665107311529_7],
#APP_TEST_FORM_ITEM_VIEWER[_scope_1665107311529_7] [_scope_1665107311529_7].textarea {
  background-color: rgba(43, 44, 47, 0.6);
  border-color: rgba(127, 128, 128, 0.5);
  color: #deffff;
}
